<!DOCTYPE html>
<html>
<head>
  <title>SoAuthClient</title>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <h1><%= link_to "SoAuthClient", root_path %></h1>
  <h2><%= link_to "Go to the Provider", ENV['AUTH_PROVIDER_URL'] %></h2>
  <hr />
</div>

<%= yield %>

<hr />
<h3><%= request.original_url %></h3>

</body>
</html>
